.header {
  &__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: toRem(20);
    @include adaptiveValue("min-height", 152, 70);
    min-height: toREM(152);
    align-items: center;
    padding-top: toRem(10);
    padding-bottom: toRem(10);
    @media (max-width: $mobile) {
      grid-template-columns: auto 1fr auto auto;
      gap: toRem(0);
    }
  }

  &__menu {
  }
  &__logo {
    @include adaptiveValue("width", 217, 80);
    position: relative;
    transition: all 0.3s;
    color: #fff;
    z-index: 5;
    &__action {
    }
    
  }
  .menu {
    &__icon {
    }
    &__body {
      @media (max-width: $mobile) {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: toRem(30);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        overflow: auto;
        background-color: $goldColor;
        transition: left 0.3s;
        padding: toRem(100) toRem(15) toRem(30) toRem(15);
        &::before {
          content: "";
          position: fixed;
          width: 100%;
          @include adaptiveValue("height", 152, 70);
          top: 0;
          left: -100%;
          z-index: 2;
          background-color: $goldColor;
          transition: left 0.3s;
        }
        .menu-open & {
          left: 0;
          &::before {
            left: 0;
          }
        }
      }
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: toRem(47);
      row-gap: toRem(3);
      align-items: center;
      @include adaptiveValue("column-gap", 47, 20, 0, $containerWidth, 767.98);
      @media (max-width: $mobile) {
        flex-direction: column;
        row-gap: toRem(20);
      }
    }
    &__item {
    }
    &__link {
      display: inline-block;
      color: $goldColor;
      font-weight: 300;
      line-height: 152%; /* 156/25 */
      @media (max-width: $mobile) {
        flex-direction: column;
        color: #fff;
        font-size: toRem(28);
      }
    }
  }

  .header__action {
  }
  .action-header {
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    column-gap: toRem(47);
    row-gap: toRem(3);
    align-items: center;
    flex-wrap: wrap;

    // @include adaptiveValue("column-gap", 47, 15, 0, $containerWidth, 767.98);

    &__link {
      display: inline-block;
      color: $goldColor;
      font-weight: 300;
      line-height: 152%; /* 156/25 */
      @media (max-width: $mobile) {
        color: #fff;
      }
    }
    &__button {
      @media (max-width: $tablet) {
        padding: toRem(8) toRem(20);
      }
      @media (max-width: $mobile) {
        border: toRem(1) solid #fff;
        color: #fff;
      }
    }
  }

  // ---------------------------------------------------------------
  //

  // Burger Icon
  .icon-menu {
    display: none;
    @media (max-width: $mobile) {
      display: block;
      position: relative;
      width: toRem(30);
      height: toRem(18);
      z-index: 5;
      @media (any-hover: none) {
        cursor: default;
      }
      span,
      &::before,
      &::after {
        content: "";
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: toRem(2);
        background-color: $goldColor;
        .menu-open & {
          background-color: #fff;
        }
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: calc(50% - toRem(1));
      }
      .menu-open & {
        span {
          width: 0;
        }
        &::before,
        &::after {
        }
        &::before {
          top: calc(50% - toRem(1));
          transform: rotate(-45deg);
        }
        &::after {
          bottom: calc(50% - toRem(1));
          transform: rotate(45deg);
        }
      }
    }
  }
}
